.mask-cursor {
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: difference;
}

body {
  cursor: none;
}

a, button, .clickable {
  cursor: none;
}
