.curve .svgAnimate {
    position: fixed;
    height: calc(100vh + 600px);
    width: 100vw;
    pointer-events: none;
    left: 0;
    top: 0;
    z-index: 99;
    fill: #141516; 
}

.curve .background {
    position: fixed;
    height: calc(100vh + 600px);
    width: 100vw;
    pointer-events: none;
    left: 0;
    top: 0;
    background-color: #141516; 
    transition: opacity 0s linear 0.1s;
    z-index: 99;
}

.curve .route {
    position: absolute;
    left: 50%;
    top: 40%;
    color: white;
    font-size: 46px;
    z-index: 100;
    transform: translateX(-50%);
    text-align: center;
}
