@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");

@theme {
  --font-sans: "Inter", sans-serif;
  --color-brand-pink: #ff2bf9;
  --color-brand-dark: #1d1d1d;
  --color-brand-black: #0f0f0f;
  --color-brand-gray: #2a2a2a;
  --color-brand-violet: #8b5cf6;
  --color-brand-light: #e4e4e7;
}

:root {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: #e4e4e7;
  background-color: #1d1d1d;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}



button {
  border-radius: 8px;
  border: 2px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border 0.25s;
}
button:hover {
  border: 2px solid #ffffff;

}
button:focus, button:active,
button:focus-visible {
  border: 2px solid #ff2bf9;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
 
}
